body{
    background: url(../images/aboutus_photos/aboutbackground.jpg) no-repeat center center fixed;
    background-size: cover;
}
.details{
    margin:0 auto 0 auto;
    width:100%;
}
.search-category{
    font-size: 14pt;
}
#tagbox{
    font-size: 12pt;
}
.imagebox{
    display: block;
    margin-left:auto;
    margin-right:auto;
    background-color: black;
    opacity: 0.85;
    height: 75%;
    width: 100%;
    text-align:center;
}
.imagebox img{
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    vertical-align: middle;
}
.navbar-nav li a {
 //line-height: 50px;
}
.navbar-brand{
    padding:0px;
    margin-left:25px;
}
.gallery{
    top: 16px;
    max-height: 75%;
}
.browse-selector{
    //text-align: center;
    margin-left: 2%;
    margin-right: 2%;
}
.browse-selector-bar{
    text-align: center;
}
.browse-selector-bar input{
    margin-left:2%;
    margin-right:2%;
    margin-bottom:10px;
}
.browse-selector-bar form{
    margin-top:2%;
}
.header{
    width:100%;
    z-index: 100;
    background-color: black;
    opacity: 0.85;
    color: white;
    padding:0px;
}
.graffiti{
    z-index: -100;
    width:100%;
    height:100%;
    position:absolute;
    left:0px;top:0px;
}
.mainfooter{
    border-top: 1px solid white;
    position:fixed;
    height:auto;
    background-color:black;
    opacity: 0.85;
    color:white;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
    text-align:center;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    font-size: smaller;
}
.homeimagetop {
    left:0px;
    top:0px;
    height: 100%;
    width: auto;
    position:absolute;

}
.homeimage {
    padding: 10px;
    max-height:250px;
    width: auto;
}
.aboutimage {
	width: 75%;
	height: auto;
	padding: 20px;
	display:inline-block;
	vertical-align:middle;
	
}

.missiontext {
	font-size: 20px;
}

.header2v2 {
	font-size:18px;
}

.dripsteam {
	font-size: 24px;
	text-decoration: underline;
}
	
.footertext {
    text-align: inherit;
    color:#666;
    padding-top:20px;
}

.imagecontainer {
    width: 100%;
    height: 90%;
    overflow: hidden;
    position: relative;
    padding:20px;
}

.croppedimage {
    position:absolute;
    left: -100%;
    right: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}

#photos {
    /* Prevent vertical gaps */
    line-height: 0;

    -webkit-column-count: 5;
    -webkit-column-gap:   0px;
    -moz-column-count:    5;
    -moz-column-gap:      0px;
    column-count:         5;
    column-gap:           0px;

}
#photos img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
    margin:10px;
}
@media (max-width: 1200px) {
    #photos {
        -moz-column-count:    4;
        -webkit-column-count: 4;
        column-count:         4;
    }
}
@media (max-width: 1000px) {
    #photos {
        -moz-column-count:    3;
        -webkit-column-count: 3;
        column-count:         3;
    }
}
@media (max-width: 800px) {
    #photos {
        -moz-column-count:    2;
        -webkit-column-count: 2;
        column-count:         2;
    }
}
@media (max-width: 400px) {
    #photos {
        -moz-column-count:    1;
        -webkit-column-count: 1;
        column-count:         1;
    }
}
