<link rel="import" href="../bower_components/polymer/polymer.html">
<!--<link rel="stylesheet" href="../css/bootstrap.min.css">-->

<script src="../js/bootstrap.min.js"></script>
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html">

<dom-module id="drips-browse-category">
    <template>
        <style>
            #mainList{
                margin-top:20px;
            }
            #indexBar{
                position:absolute;
                width:100%;
                text-align: center;
                letter-spacing: 10px;
            }
            indexHeading{
                margin-top:0px;
            }
            .indexItem{

            }
            .checks{
                text-align:left;
            }
        </style>
        <span>
            <a href="#this" id="link" data-toggle="modal"></a>
            <!-- Modal -->
            <div id="{{categoryName}}" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" id="title"></h4>
                        </div>
                        <div class="modal-body" id="list">
                            <div id="indexBar" class="row"></div>
                            <div class="row" id="mainList">
                                <div class="col-lg-4 col-md-4" style="text-align:left" id="lista">
                                </div>
                                <div class="col-lg-4 col-md-4" style="text-align:left" id="listb">
                                </div>
                                <div class="col-lg-4 col-md-4" style="text-align:left" id="listc">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
        </span>
        <iron-ajax id="categoryAjax" handle-as="json" last-response="{{categoryResponse}}" on-response="_handleCategoryResponse"></iron-ajax>
    </template>
</dom-module>

<script>
    Polymer({
        is: 'drips-browse-category',

        properties: {
            categoryName: String,
            selections: Array,
            indexes: Array
        },
        _getCategoryNameWithHash: function(){
            return "#"+this.categoryName;
        },
        ready: function(){
            // check if an element exists in array using a comparer function
            // comparer : function(currentElement)
            Array.prototype.inArray = function(comparer) {
                for(var i=0; i < this.length; i++) {
                    if(comparer(this[i])) return true;
                }
                return false;
            };

            // adds an element to the array if it does not already exist using a comparer
            // function
            Array.prototype.pushIfNotExist = function(element, comparer) {
                if (!this.inArray(comparer)) {
                    this.push(element);
                }
            };

            Array.prototype.removeElement = function(element){
                var index = $.inArray(element,this);
                if (index > -1) {
                    this.splice(index, 1);
                }
            }

            this.$.link.innerHTML = this._formatName(this.categoryName);
            this.$.title.innerHTML = this._formatName(this.categoryName);

            this.selections = new Array();
            this.indexes = new Array();

            //config parameters
            this.$.categoryAjax.url = this._getUrl();
            this.$.categoryAjax.method = 'GET';
            this.$.categoryAjax.generateRequest();

            this.$.link.setAttribute("data-target", this._getCategoryNameWithHash());

        },
        _addItems: function(data){

            var lista = this.$.lista;
            var listb = this.$.listb;
            var listc = this.$.listc;
            var list = lista;
            var _this = this;

            var initial;
            for(var i = 0; i < data.length; ++i){
                (function(){
                    var itm = data[i];

                    //var listItem = list.appendChild(document.createElement('li'));
                    var span = document.createElement("span");
                    span.setAttribute("class","checks");
                    var check = document.createElement("INPUT");
                    check.setAttribute("type", "checkbox");
                    check.setAttribute("id",_this._getCheckboxId(itm));
                    check.setAttribute("class","checks");
                    check.addEventListener("click",function(e){
                        _this._itemSelected(e.target.checked,itm);
                    },false);
                    span.appendChild(check);
                    var name;
                    if(itm.name){
                        name = itm.name;
                    }else{
                        if(_this.categoryName === 'styles'){
                            name = itm.style;
                        }
                        if(_this.categoryName === 'specs'){
                            name = itm.equipment;
                        }
                    }
                    span.appendChild(document.createTextNode("  "+name));
                    span.appendChild(document.createElement("BR"));

                    if(initial != name.charAt(0).toUpperCase()){
                        initial = name.charAt(0).toUpperCase();
                        if(i < data.length / 3){
                            list = lista;
                        }else if(i < data.length * 2 / 3){
                            list = listb;
                        }else{
                            list = listc;
                        }
                        //list = (i < data.length / 3 || i < data.length / 3) ? lista : listb;
                        _this.indexes.push(initial);

                        var headerSpan = document.createElement("span");
                        var anchor = document.createElement("a");
                        anchor.setAttribute("name",initial);
                        var heading = document.createElement("h3");
                        heading.appendChild(document.createTextNode(initial));
                        headerSpan.appendChild(anchor);
                        headerSpan.appendChild(heading);
                        list.appendChild(headerSpan);
                    }

                    list.appendChild(span);

                }())
            }

            this._createIndex();
        },
        _formatName: function(str){
            return str.charAt(0).toUpperCase() + str.slice(1);
        },
        _handleCategoryResponse: function(res){
            if(res.detail.response && res.detail.response.execution) {
                this._addItems(res.detail.response.data);
            }
        },
        _getCheckboxId: function(item){
            var id = this.categoryName + item.id;
            return id;
        },
        _getUrl: function(){
            var url = "./api/drips.php?fn=";
            switch(this.categoryName){
                case "collections":
                    url += "get_collections";
                    break;
                case "styles":
                    url += "get_styles";
                    break;
                case "mediums":
                    url += "get_mediums";
                    break;
                case "specs":
                    url += "get_digital_specs";
                    break;
                case "artists":
                    url += "get_artists";
                    break;
                case "locations":
                    url += "get_locations";
                    break;
                case "photographers":
                    url += "get_photographers";
                    break;
            }
            return url;
        },
        _createIndex: function(){
            var _this = this;
            var indexBar = this.$.indexBar;
            var nbsp = document.createElement("span");
            for(var i = 0; i < this.indexes.length; ++i){
                (function(){
                    var idx = document.createElement("a");
                    idx.setAttribute("href","#"+_this.indexes[i]);
                    idx.setAttribute("class","indexItem");
                    idx.appendChild(document.createTextNode(_this.indexes[i]));
                    if(i == (_this.indexes.length / 2) - 1){
                        if(i > 8) {
                            idx.appendChild(document.createElement("br"));
                        }
                    }
                    indexBar.appendChild(idx);
                }())
            }

        },
        _itemSelected: function(isChecked, itm){

            if(isChecked){
                //retain it
                this.selections.pushIfNotExist(itm,function(e){
                    return e.id === itm.id;
                });
            }else{
                //remove it
                this.selections.removeElement(itm);
            }

            //gather the data
            var detail = {};
            detail.category = this.categoryName;
            detail.item = itm;
            detail.selections = this.selections;
            //broadcast the event
            var event = new CustomEvent("parameterclick",{"detail":detail});
            event.bubbles = true;
            this.dispatchEvent(event);
            this._alterAppearance();
        },
        _alterAppearance: function(){
            var link = this.$.link;
            if(this.selections.length > 0) {
                link.style.fontWeight = 'bold';
            }else{
                link.style.fontWeight = 'normal';
            }
        },
        clearAll: function(){
            this.selections = new Array();
            var checkboxes = document.getElementsByTagName('input');
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i].type == 'checkbox') {
                    checkboxes[i].checked = false;
                }
            }
            var event = new CustomEvent("parameterclick");
            event.bubbles = true;
            this.dispatchEvent(event);
            this._alterAppearance();
        }
    })
</script>